

.searchInput {
    width: 100%;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #1394f0;
    border-radius: 5px;
    box-shadow: inset 5px 80px 100px rgba(167, 62, 194, 0.6), 3px 3px 15px grey;
}

.searchInput input {
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 2px grey;
}